<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" id="home-link">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="page1-link">Page 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="page2-link">Page 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="page3-link">Page 3</a>
            </li>
        </ul>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        // Sélectionnez tous les liens de la barre de navigation
        $('.nav-link').click(function () {
            // Supprimez la classe active de tous les liens
            $('.nav-link').removeClass('active');
            
            // Ajoutez la classe active au lien cliqué
            $(this).addClass('active');
        });
    });
</script>
