{% extends 'base.html.twig' %}
{% block title %}
    {{ firstname }} {{ name }}
{% endblock %}

{% block body %}


    <h1>With love from {{ firstname }} {{ name }}</h1>
    <p>Table </p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
   <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  
</table>

{% endblock %}